table {
  width: 100%;
}
.mat-row .mat-cell {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  cursor: pointer;
}
.mat-row:hover .mat-cell {
  border-color: currentColor;
}
.mat-form-field {
  font-size: 1.25em;
  width: 100%;
}
.anim-opacity {
  animation: opacityTitle 1.5s linear;
}
@keyframes opacityTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
