<section class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="full-width-table">
    <!-- Column's Generator -->
    <ng-container
      *ngFor="let item of displayedColumns"
      matColumnDef="{{ item }}"
    >
      <th mat-header-cell *matHeaderCellDef>{{ item }}</th>
      <td mat-cell *matCellDef="let element">{{ element[item] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      routerLink="/item"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</section>
<br />
<br />
<hr />

<!--    
  <mat-text-column
      *ngFor="let item of displayedColumns"
      name="{{ item }}"
    ></mat-text-column>

    routerLink="/home"
-->
