.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.animate-title {
  animation: opacityTitle 2s linear;
}
@keyframes opacityTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
