<ng-template *ngIf="!isLoading; else loading"></ng-template>
<section *ngIf="allImg; else notFound">
  <mat-grid-list cols="{{ columns }}" rowHeight="2:1">
    <mat-grid-tile *ngFor="let img of allImg">
      <app-dialog-image [imgURL]="img.url">
        <mat-card>
          <img
            mat-card-image
            src="{{ img.thumbnailUrl }}"
            alt="Photo of get from https://jsonplaceholder.typicode.com/albums/{{
              id
            }}/photos"
          />
        </mat-card>
      </app-dialog-image>
      <mat-card-actions>
        <app-dialog-delete
          [deleteIMG]="deleteOneImage"
          [imgID]="img.id"
        ></app-dialog-delete>
      </mat-card-actions>
    </mat-grid-tile>
  </mat-grid-list>
</section>

<ng-template #notFound>
  <app-not-found
    titlePage="Error Page Not Found"
    content="Sorry ID: {{ id }}. Not Found"
  >
    <button mat-raised-button color="primary" routerLink="/albums">
      Go Back to Albums!
    </button>
  </app-not-found>
</ng-template>

<ng-template #loading>
  <app-not-found
    titlePage="Loading . . ."
    content="We are looking for Album ID: {{ id }}"
  ></app-not-found>
</ng-template>
