<ng-template *ngIf="!isLoading; else loading"></ng-template>
<section *ngIf="album; else notFound">
  <mat-card>
    <mat-card-title>Details about user ID: {{ album.id }}</mat-card-title>
    <mat-grid-list cols="2" rowHeight="14vh">
      <mat-grid-tile class="text-bold">ID:</mat-grid-tile>
      <mat-grid-tile>{{ album.id }}</mat-grid-tile>
      <mat-grid-tile class="text-bold">User ID:</mat-grid-tile>
      <mat-grid-tile>{{ album.userId }}</mat-grid-tile>
      <mat-grid-tile class="text-bold">Title:</mat-grid-tile>
      <mat-grid-tile>{{ album.title }}</mat-grid-tile>
    </mat-grid-list>
    <section class="button-sections">
      <button
        title="Go to details user ID: {{ album.userId }}"
        mat-raised-button
        color="primary"
        routerLink="/users/{{ album.userId }}"
      >
        User Details
      </button>
      <button
        title="Go to see galery of this album."
        mat-raised-button
        color="primary"
        routerLink="photos"
      >
        Photos Gallery
      </button>
    </section>
  </mat-card>
</section>

<ng-template #notFound>
  <app-not-found
    titlePage="Error Page Not Found"
    content="Sorry ID: {{ id }}. Not Found"
  >
    <button mat-raised-button color="primary" routerLink="/albums">
      Go Back to Albums!
    </button>
  </app-not-found>
</ng-template>

<ng-template #loading>
  <app-not-found
    titlePage="Loading . . ."
    content="We are looking for Album ID: {{ id }}"
  ></app-not-found>
</ng-template>
